<ul>
<%= @tasks.each do |t| %>
  <li><%= link_to "t.name", task_path(t) %></li>
<%= link_to "Update Task", edit_task_path(t) %>
<%= link_to "Delete Task", task_path(t), method: :delete %>
<% end %>
</ul>
<%= link_to "Create Task", new_task_path %>
